{% set container_name = salt['pillar.get']('nspawn_container:name', 'tumbleweed') %}
{% set container_dir = '/var/lib/machines/' ~ container_name %}
{% set username = salt['pillar.get']('nspawn_container:user', 'user') %}
